li{
    list-style: none;
}
label{
    display: inline-block;
    width: 80px;
}

#container{
    width: 500px;
    margin-left: 150px;
}
.loginBox{
    width: 300px;
    border: 1px solid black;
}
#id{
    width: 220px;
    margin-top: 15px;
}

#pwd{
    width: 220px;
}

/* 로그인 버튼*/
#login_btn {
    width: 220px;
    border: none;
    color: white;
    background: blue;
    margin-top: 20px;
    margin-bottom: 10px;
}